* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  background-color: black;
  color: black;
}

.dim {
  color: #eee;
}

.sample {
  margin-inline: auto;
  padding: 56px;
  max-width: 960px;
  background-color: white;
  margin-bottom: 50vh;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__item {
    user-select: none;
  }
}

.body {
  &--small {
    $line-height-begin: 16px;
    $font-size: 12px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0.4000000059604645px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--medium {
    $line-height-begin: 20px;
    $font-size: 14px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0.25px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--large {
    $line-height-begin: 24px;
    $font-size: 16px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0.5px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
}

.label {
  &--small {
    $line-height-begin: 16px;
    $font-size: 11px;
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.5px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--medium {
    $line-height-begin: 16px;
    $font-size: 12px;
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.5px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--large {
    $line-height-begin: 20px;
    $font-size: 14px;
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.1px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
}

.title {
  &--small {
    $line-height-begin: 20px;
    $font-size: 14px;
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.1px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--medium {
    $line-height-begin: 24px;
    $font-size: 16px;
    font-size: $font-size;
    font-weight: 500;
    letter-spacing: 0.1px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--large {
    $line-height-begin: 28px;
    $font-size: 22px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0em;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
}

.headline {
  &--small {
    $line-height-begin: 32px;
    $font-size: 24px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0em;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--medium {
    $line-height-begin: 36px;
    $font-size: 28px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0em;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--large {
    $line-height-begin: 40px;
    $font-size: 32px;
    font-size: $font-size;
    font-weight: 400;
    text-align: left;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
}

.display {
  &--small {
    $line-height-begin: 44px;
    $font-size: 36px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0em;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--medium {
    $line-height-begin: 52px;
    $font-size: 45px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0em;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
  &--large {
    $line-height-begin: 64px;
    $font-size: 57px;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: -0.25px;
    @for $i from 1 through 16 {
      .grid__item:nth-child(#{$i}) {
        $line-height: 2px * ($i - 1) + $line-height-begin;
        line-height: $line-height;
        &::before {
          $text: $i +
            ": " +
            $font-size +
            " / " +
            $line-height +
            " / " +
            calc($line-height / $font-size);
          content: $text;
        }
      }
    }
    .titleText {
      margin-bottom: $font-size * 3;
    }
    .grid {
      gap: $font-size * 3;
    }
  }
}

.small {
  display: none;
}

@media (max-width: 640px) {
  .small {
    display: block;
  }

  .medium {
    display: block;
  }

  .large {
    display: none;
  }

  .sample {
    padding: 24px;
  }
}
